Source: pexip-keyring
Section: misc
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
Build-Depends: debhelper (>=10), gnupg
Standards-Version: 4.1.2

Package: pexip-keyring
Priority: important
Architecture: all
Multi-Arch: foreign
Description: Pexip GPG keys.
